
<div class="container p-4 col-md-8" style="margin-top: 40px;">
    <div class="row">
    <div id="buttonArea" class="d-grid gap-2" style="margin-top: 60px;">
        <a class="btn btn-success" href="/archivo">Subir archivo</a>
    </div>

    <div id="buttonArea" class="d-grid gap-2" style="margin-top: 60px;">
        <a class="btn btn-primary" href="/formulario">Ya tengo los datos</a>
    </div>
</div> 
</div>