<h1>Hi</h1>

 <form id="formulario" method="POST" action="/upload" enctype="multipart/form-data">
    <input id="file-upload1" type="file" class="inputfile" name="file" required/>
    <button type="submit">
        Finalizar
    </button>
 
 </form>