
<!--
    tipo
    queCalcular
    isKnown
-->

<!-- 
    <form id="formulario" method="POST" action="/upload" enctype="multipart/form-data">
    <input id="file-upload1" type="file" class="inputfile" name="file" />
-->                
<form id="formulario" method="POST" action="/upload">
<div class="container p-4 col-md-5">
    <div class ="row">
        <div class="card mb-4">
        <div class="col-md-12 mx-auto">
                <div class="card-body">
                    <!-- Muestreo -->
                    <div class="input-group col-md-12 mb-3">
                        <label for="validationCustom04" class="input-group-text" for="inputGroupSelect01">Tipo de muestreo</label>
                        <select id="muestreo" class="form-select" id="inputGroupSelect01" name="muestreo">
                            <option disabled selected>Elegir...</option>
                            <option value="MAS">Muestreo Aleatorio Simple</option>
                            <option value="MAE">Muestreo Aleatorio Estratificado</option>
                        </select>
                    </div>      

                    <!-- Tipo -->
                    <div class="input-group col-md-12">
                        <label for="validationCustom04" class="input-group-text" for="inputGroupSelect01">Estimar</label>
                        <select id="tipo" class="form-select" id="inputGroupSelect01" name="tipo">
                            <option disabled selected>Elegir...</option>
                            <option value="media">Media Poblacional</option>
                            <option value="total">Total Poblacional</option>
                            <option value="proporcion">Proporcion Poblacional</option>
                            <option value="muestra">Tamaño de muestra</option>
                        </select>
                    </div>                    
                </div>
        </div>

    <!--- SOLO para el estratificado -->
    <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- Numero de estratos -->
                <div id="numeroEstratos" class="form-group">
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- Tipo de distribucion de los estratos -->
                <div id="asignacion" class="input-group">
                </div>
            </div>
        </div>
    </div>

        <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- costo de asinacin -->
                <div id="costo" class="input-group">
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- Calcular que -->
                <div id="calcular" class="input-group">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- Varianza conocida¿? -->
                <div id="varianza" class="input-group mb-3">
                </div>
            </div>
        </div>
    </div>
    </div>

    <button onclick="ingresarDatos()" type="button" class="mb-4 btn btn-primary" >Ingresar Datos</button>

    <div class="col-md-12 mx-auto mb-5" id="datosArea">
        <div class="card">
            <div class="card-body">
                <div id="areaDatos" >
                </div>
            </div>
        </div>
    </div>

    <div id="buttonArea" class="d-grid gap-2">

    </div>

    

    </div>
    </div>
 </form>


 <script>
     // Dependiendo del tipo de muestreo vamos a cambiar algo

     const muestreo = document.getElementById('muestreo');

     const tipo = document.getElementById('tipo');

     const functionForMAS = () => {
                
        const espacio = document.getElementById('calcular');
        while(espacio.firstChild){
            espacio.removeChild(espacio.lastChild);
        }

        const asignacion = document.getElementById('asignacion');
        while(asignacion.firstChild){
            asignacion.removeChild(asignacion.lastChild);
        }

        const costo = document.getElementById('costo');
        while(costo.firstChild){
            costo.removeChild(costo.lastChild);
        }

        if(tipo.value === 'muestra'){
            switch(muestreo.value){
                case 'MAS': {
                    const calcular = document.getElementById('calcular');

                    const select = document.createElement('select');

                    const option1 = document.createElement('option');
                    const texto1 = document.createTextNode('Media Poblacional');
                    option1.setAttribute('value','media');
                    option1.appendChild(texto1);

                    const option2 = document.createElement('option');
                    const texto2 = document.createTextNode('Total Poblacional');
                    option2.setAttribute('value','total');
                    option2.appendChild(texto2);

                    const option3 = document.createElement('option');
                    const texto3 = document.createTextNode('Proporcion Poblacional');
                    option3.setAttribute('value','proporcion');
                    option3.appendChild(texto3);

                    select.appendChild(option1);
                    select.appendChild(option2);
                    select.appendChild(option3);

                    select.setAttribute('class','form-select');
                    select.setAttribute('name','categoria');
                    select.setAttribute('id','categoria');

                    const label = document.createElement('label');
                    const textoLabel = document.createTextNode('Tipo');
                    label.appendChild(textoLabel)
                    label.setAttribute('class','input-group-text')

                    calcular.appendChild(label)
                    calcular.appendChild(select)
                }
            break;
            case 'MAE': {
                    let calcular = document.getElementById('calcular');

                    let select = document.createElement('select');

                    let option1 = document.createElement('option');
                    let texto1 = document.createTextNode('Media Poblacional');
                    option1.setAttribute('value','media');
                    option1.appendChild(texto1);

                    let option2 = document.createElement('option');
                    let texto2 = document.createTextNode('Total Poblacional');
                    option2.setAttribute('value','total');
                    option2.appendChild(texto2);

                    let option3 = document.createElement('option');
                    let texto3 = document.createTextNode('Proporcion Poblacional');
                    option3.setAttribute('value','proporcion');
                    option3.appendChild(texto3);

                    select.appendChild(option1);
                    select.appendChild(option2);
                    select.appendChild(option3);

                    select.setAttribute('class','form-select');
                    select.setAttribute('name','categoria');
                    select.setAttribute('id','categoria');

                    let label = document.createElement('label');
                    let textoLabel = document.createTextNode('Tipo');
                    label.appendChild(textoLabel)
                    label.setAttribute('class','input-group-text')

                    calcular.appendChild(label)
                    calcular.appendChild(select)

                const asignacion = document.getElementById('asignacion');

                 select = document.createElement('select');

                 option1 = document.createElement('option');
                 texto1 = document.createTextNode('Proporcional');
                option1.setAttribute('value','proporcional');
                option1.appendChild(texto1);

                 option2 = document.createElement('option');
                 texto2 = document.createTextNode('Equitativa');
                option2.setAttribute('value','equitativa');
                option2.appendChild(texto2);

                 option3 = document.createElement('option');
                 texto3 = document.createTextNode('Optima');
                option3.setAttribute('value','optima');
                option3.appendChild(texto3);

                select.appendChild(option1);
                select.appendChild(option2);
                select.appendChild(option3);

                select.setAttribute('class','form-select');
                select.setAttribute('name','asignacion');
                select.setAttribute('id','asignaciones');

                 label = document.createElement('label');
                 textoLabel = document.createTextNode('Tipo');
                label.appendChild(textoLabel)
                label.setAttribute('class','input-group-text');

                asignacion.appendChild(label)
                asignacion.appendChild(select)
                console.log(asignacion.value)

                
            break;
            }
        }
     }
     }


     // si el muestreo es MAE entonces necesitamos poner estratos
    muestreo.addEventListener('change', () => {
        const espacio = document.getElementById('calcular')
        const numeroEstratos = document.getElementById('numeroEstratos')
        

        while(numeroEstratos.firstChild){
            numeroEstratos.removeChild(numeroEstratos.lastChild);
        }

        while(espacio.firstChild){
            espacio.removeChild(espacio.lastChild);
        }

        switch(muestreo.value){
            case 'MAS': 
                MASprocedimiento();
            break;
            case 'MAE': 
            //agregar numero de estratos
            MAEprocedimiento();
            //procedimiento normal
            MASprocedimiento();

            break;
        }

    })

    const MAEprocedimiento = function(){

        //crear input para poner el numero de estratos
        const numeroEstratos = document.getElementById('numeroEstratos');

        const input = document.createElement('input');
        input.setAttribute('id','inputEstratos');
        input.setAttribute('name','numeroEstratos');
        input.setAttribute('class', 'form-control');
        input.setAttribute('required','true');
        input.setAttribute('type', 'number')

        const label = document.createElement('label');
        label.setAttribute('class','form-label')
        const title = document.createTextNode('Número de estratos:');
        label.appendChild(title);
        
        numeroEstratos.appendChild(label);
        numeroEstratos.appendChild(input);

    }

    const MASprocedimiento = function() {
     tipo.addEventListener('change', () => {
         functionForMAS();
         console.log('cambio el tipo',tipo.value)
    });
    }


    //Ingresar Datos


    const casos = {
        'MAS':{
            'media': ['varianza_muestral', 'N', 'n','suma'],
            'total': ['varianza_muestral', 'N', 'n', 'promedio'],
            'proporcion': ['p','q','N','n','suma'],
            'muestra': {
                'media':['cota','N','varianza_poblacional'],
                'total': ['cota','N','varianza_poblacional'],
                'proporcion': ['cota','N','p','q']
            }
        },
        'MAE': {
            'media': ['varianza_muestral', 'N', 'n','suma'],
            'total': ['varianza_muestral', 'N', 'n', 'promedio'],
            'proporcion': ['p','q','N','n'],
            'muestra': {
                'media':['N','varianza_muestral'],
                'total': ['N','varianza_muestral'],
                'proporcion': ['N','p','q']
            }
        }
    }

    const ingresarDatos = function(){

        const muestreo = document.getElementById('muestreo')
        const tipo = document.getElementById('tipo');
        const categoria = document.getElementById('categoria');
        const asignacion = document.getElementById('asignacion');
        const asignaciones = document.getElementById('asignaciones')
        const numerosEstratos = document.getElementById('inputEstratos') || 1;
        let datosNecesarios = []
        const lugarcito = document.getElementById('datosArea');

        if(tipo.value!=='Elegir...'){
            const areaDatos = document.getElementById('datos');
            const tipo = document.getElementById('tipo');

            if(tipo.value!=='muestra'){
                datosNecesarios = casos[muestreo.value][tipo.value]
            }else{
                if(muestreo.value === 'MAE'){
                    console.log(asignaciones.value)
                    datosNecesarios = casos[muestreo.value]['muestra'][categoria.value];
                    let divCota = document.createElement('div');
                    let inputCota = document.createElement('input');
                    inputCota.setAttribute('name','cotaMuestra')
                    let titleCota = document.createTextNode('Cota');
                    let labelCota = document.createElement('label');
                    labelCota.appendChild(titleCota);
                    divCota.appendChild(labelCota)
                    divCota.appendChild(inputCota);
                    lugarcito.appendChild(divCota)
                    if(asignaciones.value==='optima'){
                        datosNecesarios = [...datosNecesarios, 'costo']
                    }

                }else{

                    datosNecesarios = casos[muestreo.value]['muestra'][categoria.value];
                }
            }
        }

        const areaDatos = document.getElementById('areaDatos');
        const inputs = cualInput[muestreo.value](datosNecesarios,numerosEstratos.value)

        while(areaDatos.firstChild){
            areaDatos.removeChild(areaDatos.lastChild);
        }
        
        const lugarBoton = document.getElementById('buttonArea')
        while(lugarBoton.firstChild){
            lugarBoton.removeChild(lugarBoton.lastChild);
        }

        inputs.forEach( input => areaDatos.appendChild(input))




        const crearBoton = document.createElement('button');
    
        crearBoton.setAttribute('type','submit');
        const text = document.createTextNode('Calcular');
        crearBoton.appendChild(text);
        crearBoton.setAttribute('class','mb-4 btn btn-success');
        crearBoton.setAttribute('id','enviar')

        lugarBoton.appendChild(crearBoton)
    }

const crearInputs = function(array){        
    let elementos = [];
    array.forEach( (elemento) => {
        let input = document.createElement('input');
        let div = document.createElement('div');
        let label = document.createElement('label')
        let text = document.createTextNode(elemento)
        label.appendChild(text)
        label.setAttribute('class','form-label')
        div.setAttribute('class','form-group mb-3')

        input.setAttribute('name',elemento)
        input.setAttribute('required','true')
        input.setAttribute('class','form-control')
        input.setAttribute('type','number')
        input.setAttribute('step','any')
        div.appendChild(label)
        div.appendChild(input)
        elementos.push(div)
    })
    return elementos
}

const crearInputsEstratos = function(array,numeroestratos){        
    let elementos = [];

    for(let i=1; i<=numeroestratos; i++){
        let divprincipal = document.createElement('div');
        let title = document.createTextNode('Estrato ' + i);
        let hr = document.createElement('hr');
        divprincipal.appendChild(title);
        array.forEach( (elemento) => {
            let input = document.createElement('input');
            let div = document.createElement('div');
            let label = document.createElement('label');
            let text = document.createTextNode(elemento)
            label.appendChild(text)
            label.setAttribute('class','form-label')
            div.setAttribute('class','form-group mb-3')

            input.setAttribute('name',elemento)
            input.setAttribute('required','true')
            input.setAttribute('class','form-control')
            input.setAttribute('type','number')
            input.setAttribute('step','any')
            
            div.appendChild(label);
            div.appendChild(input)
            div.appendChild(hr);
            divprincipal.appendChild(div)
        });
        elementos.push(divprincipal)
    }
    return elementos
}

const cualInput = {
    'MAS': crearInputs,
    'MAE': crearInputsEstratos
}



//MEDIA
    //known (varianza, N, n)
    //unknown (varianza, N, n)
    //promedio (suma, totalElementos)


//TOTAL
    //known (varianza, N, n)
    //unknown (varianza, N, n)
    //total (promedio, totalElementos)

//PROPORCION
    //known (p, N, n)
    //unknown (p, q, N, n)
    //promedio (suma, totalElementos)    




 </script>