
<!--
    tipo
    queCalcular
    isKnown
-->

<!-- 
    <form id="formulario" method="POST" action="/upload" enctype="multipart/form-data">
    <input id="file-upload1" type="file" class="inputfile" name="file" />
-->                
<form id="formulario" method="POST" action="/upload">
<div class="container p-4 col-md-5">
    <div class ="row">
        <div class="card mb-4">
        <div class="col-md-12 mx-auto">
                <div class="card-body">

                    <!-- Tipo -->
                    <div class="input-group">
                        <label for="validationCustom04" class="input-group-text" for="inputGroupSelect01">Estimar</label>
                        <select id="tipo" class="form-select" id="inputGroupSelect01" name="tipo">
                            <option disabled selected>Elegir...</option>
                            <option value="media">Media Poblacional</option>
                            <option value="total">Total Poblacional</option>
                            <option value="proporcion">Proporcion Poblacional</option>
                            <option value="muestra">Tamaño de muestra</option>
                        </select>
                    </div>                    
                </div>
        </div>

    <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- Calcular que -->
                <div id="calcular" class="input-group">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- Varianza conocida¿? -->
                <div id="varianza" class="input-group mb-3">
                </div>
            </div>
        </div>
    </div>
    </div>

    <button onclick="ingresarDatos()" type="button" class="mb-4 btn btn-primary" >Ingresar Datos</button>

    <div class="col-md-12 mx-auto mb-5" id="datosArea">
        <div class="card">
            <div class="card-body">
                <div id="areaDatos" >
                </div>
            </div>
        </div>
    </div>

    <div id="buttonArea" class="d-grid gap-2">

    </div>

    

    </div>
    </div>
 </form>


 <script>

     const tipo = document.getElementById('tipo');

     tipo.addEventListener('change', () => {
                
        const espacio = document.getElementById('calcular')
        while(espacio.firstChild){
            espacio.removeChild(espacio.lastChild);
        }

        if(tipo.value === 'muestra'){
            const calcular = document.getElementById('calcular');

            const select = document.createElement('select');

            const option1 = document.createElement('option');
            const texto1 = document.createTextNode('Media Poblacional');
            option1.setAttribute('value','media');
            option1.appendChild(texto1);

            const option2 = document.createElement('option');
            const texto2 = document.createTextNode('Total Poblacional');
            option2.setAttribute('value','total');
            option2.appendChild(texto2);

            const option3 = document.createElement('option');
            const texto3 = document.createTextNode('Proporcion Poblacional');
            option3.setAttribute('value','proporcion');
            option3.appendChild(texto3);

            select.appendChild(option1);
            select.appendChild(option2);
            select.appendChild(option3);

            select.setAttribute('class','form-select');
            select.setAttribute('name','categoria');
            select.setAttribute('id','categoria');

            const label = document.createElement('label');
            const textoLabel = document.createTextNode('Tipo');
            label.appendChild(textoLabel)
            label.setAttribute('class','input-group-text')

            calcular.appendChild(label)
            calcular.appendChild(select)
        }
     });


    //Ingresar Datos


    const casos = {
        'media': ['varianza_muestral', 'N', 'n','suma'],
        'total': ['varianza_muestral', 'N', 'n', 'promedio'],
        'proporcion': ['p','q','N','n','suma'],
        'muestra': {
            'media':['cota','N','varianza_poblacional'],
            'total': ['cota','N','varianza_poblacional'],
            'proporcion': ['cota','N','p','q']
        }
    }

    const ingresarDatos = function(){

        const tipo = document.getElementById('tipo');
        const categoria = document.getElementById('categoria');
        let datosNecesarios = []

        if(tipo.value!=='Elegir...'){
            const areaDatos = document.getElementById('datos');
            const tipo = document.getElementById('tipo');

            if(tipo.value!=='muestra'){
                datosNecesarios = casos[tipo.value]
            }else{
                datosNecesarios = casos['muestra'][categoria.value];
            }
        }

        const areaDatos = document.getElementById('areaDatos');
        const inputs = crearInputs(datosNecesarios);

        while(areaDatos.firstChild){
            areaDatos.removeChild(areaDatos.lastChild);
        }
        
        const lugarBoton = document.getElementById('buttonArea')
        while(lugarBoton.firstChild){
            lugarBoton.removeChild(lugarBoton.lastChild);
        }

        inputs.forEach( input => areaDatos.appendChild(input))


        const lugarcito = document.getElementById('datosArea');

        const crearBoton = document.createElement('button');
    
        crearBoton.setAttribute('type','submit');
        const text = document.createTextNode('Calcular');
        crearBoton.appendChild(text);
        crearBoton.setAttribute('class','mb-4 btn btn-success');
        crearBoton.setAttribute('id','enviar')

        lugarBoton.appendChild(crearBoton)
    }

const crearInputs = function(array){
    let elementos = [];
    array.forEach( (elemento) => {
        let input = document.createElement('input');
        let div = document.createElement('div');
        let label = document.createElement('label')
        let text = document.createTextNode(elemento)
        label.appendChild(text)
        label.setAttribute('class','form-label')
        div.setAttribute('class','form-group mb-3')

        input.setAttribute('name',elemento)
        input.setAttribute('required','true')
        input.setAttribute('class','form-control')
        input.setAttribute('type','number')
        input.setAttribute('step','any')
        div.appendChild(label)
        div.appendChild(input)
        elementos.push(div)
    })
    return elementos
}




//MEDIA
    //known (varianza, N, n)
    //unknown (varianza, N, n)
    //promedio (suma, totalElementos)


//TOTAL
    //known (varianza, N, n)
    //unknown (varianza, N, n)
    //total (promedio, totalElementos)

//PROPORCION
    //known (p, N, n)
    //unknown (p, q, N, n)
    //promedio (suma, totalElementos)    




 </script>