
<!--
    tipo
    queCalcular
    isKnown
-->

<!-- 
    <form id="formulario" method="POST" action="/upload" enctype="multipart/form-data">
    <input id="file-upload1" type="file" class="inputfile" name="file" />
-->       

<link rel="stylesheet" href="/general.css" type="text/css">
<form id="formulario" method="POST" action="/archivo" enctype="multipart/form-data">
<div class="container p-4 col-md-5">
    <div class ="row">
        <div class="card mb-4">
        <div class="col-md-12 mx-auto">
                <div class="card-body">
                    <!-- Muestreo -->
                    <div class="input-group col-md-12 mb-3">
                        <label for="validationCustom04" class="input-group-text" for="inputGroupSelect01">Tipo de muestreo</label>
                        <select id="muestreo" class="form-select" id="inputGroupSelect01" name="muestreo">
                            <option disabled selected>Elegir...</option>
                            <option value="MAS">Muestreo Aleatorio Simple</option>
                            <option value="MAE">Muestreo Aleatorio Estratificado</option>
                        </select>
                    </div> 

                    <!-- Tipo -->
                    <div class="input-group">
                        <label for="validationCustom04" class="input-group-text" for="inputGroupSelect01">Estimar</label>
                        <select id="tipo" class="form-select" id="inputGroupSelect01" name="tipo">
                            <option disabled selected>Elegir...</option>
                            <option value="media">Media Poblacional</option>
                            <option value="total">Total Poblacional</option>
                            <option value="proporcion">Proporcion Poblacional</option>
                        </select>
                    </div>
                        <!--- SOLO para el estratificado -->
                    <div class="col-md-12 mx-auto">
                        <div class="">
                            <div class="card-body">
                                <!-- Numero de estratos -->
                                <div id="numeroEstratos" class="form-group">
                                </div>
                            </div>
                        </div>
                    </div>                               
                </div>
        </div>

    <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- Calcular que -->
                <div id="calcular" class="input-group">
                </div>
            </div>
        </div>
    </div>
    
    <div class="col-md-12 mx-auto">
        <div class="">
            <div class="card-body">
                <!-- Varianza conocida¿? -->
                <div id="varianza" class="input-group mb-3">
                </div>
            </div>
        </div>
    </div>
    </div>

    <!-- subir Archivo -->
    <!-- <input class id="file-upload1" type="file" class="inputfile" name="file" required/> -->
    <div  class="content">
    <div class="button d-grid gap-2">
        <label for="file-upload1">
            Subir Archivo
        </label>
        <input id="file-upload1" type="file" class="inputfile" name="file" required/>
    </div>
    </div>

    <button onclick="ingresarDatos()" type="button" class="mb-4 btn btn-primary" >Ingresar Datos</button>

    <div class="col-md-12 mx-auto mb-5" id="datosArea">
        <div class="card">
            <div class="card-body">
                <div id="areaDatos" >
                </div>
            </div>
        </div>
    </div>

    <div id="buttonArea" class="d-grid gap-2">

    </div>

    

    </div>
    </div>
 </form>


 <script>

    const tipo = document.getElementById("tipo");
     // si el muestreo es MAE entonces necesitamos poner estratos
    muestreo.addEventListener('change', () => {
        const espacio = document.getElementById('calcular')
        const numeroEstratos = document.getElementById('numeroEstratos')
        

        while(numeroEstratos.firstChild){
            numeroEstratos.removeChild(numeroEstratos.lastChild);
        }

        while(espacio.firstChild){
            espacio.removeChild(espacio.lastChild);
        }

        if(muestreo.value==='MAE'){
            //agregar numero de estratos
            MAEprocedimiento();


        }

    })

const MAEprocedimiento = function(){

        //crear input para poner el numero de estratos
        const numeroEstratos = document.getElementById('numeroEstratos');

        const input = document.createElement('input');
        input.setAttribute('id','inputEstratos');
        input.setAttribute('name','numeroEstratos');
        input.setAttribute('class', 'form-control');
        input.setAttribute('required','true');
        input.setAttribute('type', 'number')

        const label = document.createElement('label');
        label.setAttribute('class','form-label')
        const title = document.createTextNode('Número de estratos:');
        label.appendChild(title);
        
        numeroEstratos.appendChild(label);
        numeroEstratos.appendChild(input);

    }


    //Si selecciono algo diferente a la muestra debo elegir que quiero calcular


    //Ingresar Datos


    const casos = {
        'media': [ 'N'],
        'total': [ 'N'],
        'proporcion': ['p','q','N'],
    }

    
    const ingresarDatos = function(){
        const tipo = document.getElementById('tipo')
        
        let datosNecesarios = casos[tipo.value];
        const numerosEstratos = document.getElementById('inputEstratos')|| 1;

        const areaDatos = document.getElementById('areaDatos');

        const inputs = cualInput[muestreo.value](datosNecesarios,numerosEstratos.value);
        console.log(inputs)

        while(areaDatos.firstChild){
            areaDatos.removeChild(areaDatos.lastChild);
        }
        
        const lugarBoton = document.getElementById('buttonArea')
        while(lugarBoton.firstChild){
            lugarBoton.removeChild(lugarBoton.lastChild);
        }

        inputs.forEach( input => areaDatos.appendChild(input))


        const lugarcito = document.getElementById('datosArea');

        const crearBoton = document.createElement('button');
    
        crearBoton.setAttribute('type','submit');
        const text = document.createTextNode('Calcular');
        crearBoton.appendChild(text);
        crearBoton.setAttribute('class','mb-4 btn btn-success');
        crearBoton.setAttribute('id','enviar')

        lugarBoton.appendChild(crearBoton)
    }

const crearInputs = function(array){
    let elementos = [];
    array.forEach( (elemento) => {
        let input = document.createElement('input');
        let div = document.createElement('div');
        let label = document.createElement('label')
        let text = document.createTextNode(elemento)
        label.appendChild(text)
        label.setAttribute('class','form-label')
        div.setAttribute('class','form-group mb-3')

        input.setAttribute('name',elemento)
        input.setAttribute('required','true')
        input.setAttribute('class','form-control')
        input.setAttribute('type','number')
        input.setAttribute('step','any')
        div.appendChild(label)
        div.appendChild(input)
        elementos.push(div)
    })
    return elementos
}



const crearInputsEstratos = function(array,numeroestratos){        
    let elementos = [];
    console.log(array)
    console.log(numeroestratos)

    for(let i=1; i<=numeroestratos; i++){
        let divprincipal = document.createElement('div');
        let title = document.createTextNode('Estrato ' + i);
        let hr = document.createElement('hr');
        divprincipal.appendChild(title);
        array.forEach( (elemento) => {
            let input = document.createElement('input');
            let div = document.createElement('div');
            let label = document.createElement('label');
            let text = document.createTextNode(elemento)
            label.appendChild(text)
            label.setAttribute('class','form-label')
            div.setAttribute('class','form-group mb-3')

            input.setAttribute('name',elemento)
            input.setAttribute('required','true')
            input.setAttribute('class','form-control')
            input.setAttribute('type','number')
            input.setAttribute('step','any')
            
            div.appendChild(label);
            div.appendChild(input)
            div.appendChild(hr);
            divprincipal.appendChild(div)
        });
        elementos.push(divprincipal)
    }
    console.log('elementos',elementos)
    return elementos
}

const cualInput = {
    'MAS': crearInputs,
    'MAE': crearInputsEstratos
}


//MEDIA
    //known (varianza, N, n)
    //unknown (varianza, N, n)
    //promedio (suma, totalElementos)


//TOTAL
    //known (varianza, N, n)
    //unknown (varianza, N, n)
    //total (promedio, totalElementos)

//PROPORCION
    //known (p, N, n)
    //unknown (p, q, N, n)
    //promedio (suma, totalElementos)    




 </script>


    <style>
        input[type="file"] {
            display: none;
        }
        .title{
            text-align: left;
            margin:auto;
            width: 100%;
            font-weight: bolder;
        }
        .cuerpo{
            width: 90%;
            margin-top: 2%;
        }
        .content {
            width: 100%;
            margin: auto;
            text-align: left;
            margin-top: 3%;
            color: rgba(76,88,87,1);
            font-weight: bold;
        }
        .content h3{
            color: rgba(80,77,140,1);
            margin-bottom: 30px;
        }
        .content .button{
            width: 90%;
            background-color: rgba(213,211,229,1);
            color: rgba(76,88,87,1);
            border: 2px solid rgba(80,77,140,1);
            margin-top: 30px;
            margin-bottom: 30px;
        }
        .content .button:hover{
            width: 90%;
            background-color: rgba(80,77,140,1);;
            color: white;
            border: 2px solid rgba(80,77,140,1) ;
            cursor: pointer;
        }
        .button label:hover{
            cursor: pointer;
        }
        .button label{
            font-size: 20px;
            padding: 0px;
            text-align: center;
            width: 100%;
        }
        .montain{
            height:20%;
        }
        nav .button{
            background-color: white;
            border: none;
            color: rgba(9,119,248);
            font-weight: lighter;
        }
        nav .button:hover{
            text-decoration: underline;
            background-color: inherit;
            color:rgba(9,119,248);
        }
        input[type='file']:active{
            background-color: white;
            font-size: 300px;
        }
        .pruebas{
            margin: auto;
            width: 50%;
            margin-left: 25%;
            margin-top: 40px;
            margin-bottom: 40px;
        }
        .prueba{
            margin:auto;
            display: inline;
            margin-left:22%;
        }
        .prueba:hover{
            cursor: pointer;
        }
    </style>
<script>
const inputs = document.getElementsByClassName( 'inputfile' );

Array.prototype.forEach.call( inputs, function( input )
{

	const label= input.previousElementSibling;
    const labelVal = label.innerHTML;

	input.addEventListener( 'change', function( e )
	{
		var fileName = '';
		if( this.files && this.files.length > 1 )
			fileName = ( this.getAttribute( 'data-multiple-caption' ) || '' ).replace( '{count}', this.files.length );
		else
			fileName = e.target.value.split('\'\'').pop();

		if( fileName )
			label.innerHTML = fileName.split("\\")[2];
		else
			label.innerHTML = labelVal;
        
	});
});
</script>